<% @page_title = 'Create Admin User' %><br><br>

<%= link_to("<< Back to list", {:action => 'index', :class => 'back-link'}) %>

<div class="user new">
	<h2>Create Admin user</h2>

	<%= form_for(:admin_users, :url => {:action => 'create'}) do |f|%>

		<%= render(:partial => 'form', :locals => { :f => f}) %>
	
	<div class="form-buttons">
		<%= submit_tag("Create Admin User") %>
	</div>

	<% end %>
</div>